.waitAnimate {
    animation: waitAnimate_544336509 3s linear infinite;
    transform-origin: 50% 50%;
  }
  
  @keyframes waitAnimate_544336509 {
    0% {
      transform: perspective(100px)rotate(0deg)
    }
    16.667% {
      transform: perspective(100px)rotateX(180deg)rotateY(0);
    }
    33.333% {
      transform: perspective(100px)rotateX(180deg)rotateY(180deg);
    }
    50% {
      transform: perspective(100px)rotateX(0)rotateY(180deg);
    }
    66.667% {
      transform: perspective(100px)rotateX(0)rotateY(0);
    }
    100% {
      transform: perspective(100px)rotateX(0)rotateY(0);
    }
  }